*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Times New Roman';
  
}
.flex{
  display: flex;
}
.grid{
  display: grid;
}

a{
  text-decoration: none;
  color: unset;
}
div.home div#tradingview-chart{
  height: 500px !important;
}
p.logo {
  font-size: 32px;
  font-weight: 600;
}
p.logo span {
  font-size: 26px;
  color: #ff4500;
}